<mat-toolbar color="primary" class="mufa-toolbar">
  <button mat-button (click)="sidenav.open()" class="button__mufa-toolbar" matTooltip="Menu" matTooltipShowDelay="400">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="h1__mufa-toolbar">MUFA</h1>
  <span class="flex-spacer"></span>
  <button mat-button class="button__mufa-toolbar" [matMenuTriggerFor]="userMenu" matTooltip="Account" matTooltipShowDelay="400">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <span>Log out</span>
      </button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="toolbar-sidenav-container">
  <mat-sidenav #sidenav class="toolbar-sidenav">
    
  </mat-sidenav>    
</mat-sidenav-container>
